### Knock1: Data を全て読み込んでみる

In [1]:
# m_store の読み込み結果
import pandas as pd
from IPython.display import display
m_store = pd.read_csv('m_store.csv')
display(m_store)

     store_id store_name area_cd
0           1        昭島店      TK
1           2      あきる野店      TK
2           3        足立店      TK
3           4       北千住店      TK
4           5        綾瀬店      TK
..        ...        ...     ...
192       193        桐生店      GU
193       194        高崎店      GU
194       195        館林店      GU
195       196        前橋店      GU
196       999       保守担当      TK

[197 rows x 3 columns]

In [2]:
# m_store の件数
m_store.shape

(197, 3)

In [3]:
# m_store の先頭５行
m_store.head()

   store_id store_name area_cd
0         1        昭島店      TK
1         2      あきる野店      TK
2         3        足立店      TK
3         4       北千住店      TK
4         5        綾瀬店      TK

In [4]:
# Data の読み込み結果
m_area = pd.read_csv('m_area.csv')
display(m_area)

  area_cd wide_area narrow_area
0      TK        東京          東京
1      KN       神奈川         神奈川
2      CH        千葉          千葉
3      SA        埼玉          埼玉
4      IB       北関東          茨城
5      TO       北関東          栃木
6      GU       北関東          群馬

In [5]:
tbl_order_4 = pd.read_csv('tbl_order_202004.csv')
display(tbl_order_4)

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,79339111,49,C26387220,50,67393872,2020-04-01 11:00:00,2020-04-01 11:18:00,1,4144,1
1,18941733,85,C48773811,26,91834983,2020-04-01 11:00:00,2020-04-01 11:22:00,0,2877,2
2,56217880,76,C66287421,36,64409634,2020-04-01 11:00:00,2020-04-01 11:15:00,0,2603,2
3,28447783,190,C41156423,19,73032165,2020-04-01 11:00:00,2020-04-01 11:16:00,0,2732,2
4,32576156,191,C54568117,71,23281182,2020-04-01 11:00:00,2020-04-01 11:53:00,0,2987,2
...,...,...,...,...,...,...,...,...,...,...
233255,25546308,3,C24617924,46,3700904,2020-04-30 21:58:58,2020-04-30 22:19:58,0,2615,2
233256,91693481,45,C68997855,6,37852755,2020-04-30 21:58:58,2020-04-30 22:13:58,0,2732,2
233257,57908119,36,C16123702,81,90372382,2020-04-30 21:58:58,2020-04-30 22:47:58,0,2363,2
233258,7145625,174,C80733640,75,48265986,2020-04-30 21:58:58,2020-04-30 22:32:58,0,2238,2
233259,31301192,151,C23758178,9,13847510,2020-04-30 21:58:58,2020-04-30 22:52:58,0,1900,2

注文 Data を Base として加工していく。
- 分析をする際はなるべく粒度の細かい Data を基準にする。
- 今回は注文詳細 Data を除外している為、注文 Data が粒度が一番細かい。

#### 大きく２つの Data 加工を行なう
1. 月ごとに分割された tbl_order を縦に結合（Union）
2. tbl_order に m_store と m_area を横に結合する（Join）

### Knock2: Data を結合（Union）してみる

In [6]:
tbl_order_5 = pd.read_csv('tbl_order_202005.csv')
display(tbl_order_5)

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,24742472,22,C90731046,22,80308413,2020-05-01 11:00:00,2020-05-01 11:22:00,1,2328,1
1,11342919,56,C68678177,12,35725624,2020-05-01 11:00:00,2020-05-01 11:50:00,0,2987,2
2,76451864,56,C79630016,46,2609869,2020-05-01 11:00:00,2020-05-01 11:32:00,0,2603,2
3,28392539,192,C83895707,80,17111162,2020-05-01 11:00:00,2020-05-01 11:19:00,0,2603,2
4,71706591,121,C36584528,93,22800835,2020-05-01 11:00:00,2020-05-01 11:17:00,0,2877,2
...,...,...,...,...,...,...,...,...,...,...
241134,47039360,154,C39765066,90,27121351,2020-05-31 21:58:58,2020-05-31 22:42:58,1,2363,1
241135,61054188,94,C19465010,41,61513298,2020-05-31 21:58:58,2020-05-31 22:40:58,0,2112,2
241136,45288914,11,C23883838,40,65359139,2020-05-31 21:58:58,2020-05-31 22:38:58,0,3838,2
241137,41608372,149,C48350551,43,42138977,2020-05-31 21:58:58,2020-05-31 22:52:58,0,1899,2
241138,40316733,169,C49087342,61,59737067,2020-05-31 21:58:58,2020-05-31 22:08:58,0,3901,2

In [7]:
order_all = pd.concat([tbl_order_4, tbl_order_5], ignore_index=True)
display(order_all)

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,79339111,49,C26387220,50,67393872,2020-04-01 11:00:00,2020-04-01 11:18:00,1,4144,1
1,18941733,85,C48773811,26,91834983,2020-04-01 11:00:00,2020-04-01 11:22:00,0,2877,2
2,56217880,76,C66287421,36,64409634,2020-04-01 11:00:00,2020-04-01 11:15:00,0,2603,2
3,28447783,190,C41156423,19,73032165,2020-04-01 11:00:00,2020-04-01 11:16:00,0,2732,2
4,32576156,191,C54568117,71,23281182,2020-04-01 11:00:00,2020-04-01 11:53:00,0,2987,2
...,...,...,...,...,...,...,...,...,...,...
474394,47039360,154,C39765066,90,27121351,2020-05-31 21:58:58,2020-05-31 22:42:58,1,2363,1
474395,61054188,94,C19465010,41,61513298,2020-05-31 21:58:58,2020-05-31 22:40:58,0,2112,2
474396,45288914,11,C23883838,40,65359139,2020-05-31 21:58:58,2020-05-31 22:38:58,0,3838,2
474397,41608372,149,C48350551,43,42138977,2020-05-31 21:58:58,2020-05-31 22:52:58,0,1899,2
474398,40316733,169,C49087342,61,59737067,2020-05-31 21:58:58,2020-05-31 22:08:58,0,3901,2

In [8]:
# Data の検証
order_all.shape[0] == tbl_order_4.shape[0] + tbl_order_5.shape[0]

True

### Knock3: Directory 内の File 名を一覧化してみる

In [9]:
import os
current_dir = os.getcwd()
current_dir

'/home/tera/dsLab/machine_learning_system_100_knocks/section1'

In [10]:
os.listdir(current_dir)

['m_area.csv',
 'tbl_order_202005.csv',
 'm_store.csv',
 'section1.ipynb',
 'tbl_order_202004.csv',
 'tbl_order_202006.csv']

In [11]:
tbl_order_file = os.path.join(current_dir, 'tbl_order_*.csv')
tbl_order_file

'/home/tera/dsLab/machine_learning_system_100_knocks/section1/tbl_order_*.csv'

In [12]:
import glob
tbl_order_files = glob.glob(tbl_order_file)
tbl_order_files

['/home/tera/dsLab/machine_learning_system_100_knocks/section1/tbl_order_202005.csv',
 '/home/tera/dsLab/machine_learning_system_100_knocks/section1/tbl_order_202004.csv',
 '/home/tera/dsLab/machine_learning_system_100_knocks/section1/tbl_order_202006.csv']

### Knock4: 複数 Data を結合（Union）してみる

In [13]:
order_all = pd.DataFrame()
file = tbl_order_files[0]
order_data = pd.read_csv(file)
print(f"{file}:{order_data.shape[0]}")
order_all = pd.concat([order_all, order_data], ignore_index=True)
order_all

/home/tera/dsLab/machine_learning_system_100_knocks/section1/tbl_order_202005.csv:241139

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,24742472,22,C90731046,22,80308413,2020-05-01 11:00:00,2020-05-01 11:22:00,1,2328,1
1,11342919,56,C68678177,12,35725624,2020-05-01 11:00:00,2020-05-01 11:50:00,0,2987,2
2,76451864,56,C79630016,46,2609869,2020-05-01 11:00:00,2020-05-01 11:32:00,0,2603,2
3,28392539,192,C83895707,80,17111162,2020-05-01 11:00:00,2020-05-01 11:19:00,0,2603,2
4,71706591,121,C36584528,93,22800835,2020-05-01 11:00:00,2020-05-01 11:17:00,0,2877,2
...,...,...,...,...,...,...,...,...,...,...
241134,47039360,154,C39765066,90,27121351,2020-05-31 21:58:58,2020-05-31 22:42:58,1,2363,1
241135,61054188,94,C19465010,41,61513298,2020-05-31 21:58:58,2020-05-31 22:40:58,0,2112,2
241136,45288914,11,C23883838,40,65359139,2020-05-31 21:58:58,2020-05-31 22:38:58,0,3838,2
241137,41608372,149,C48350551,43,42138977,2020-05-31 21:58:58,2020-05-31 22:52:58,0,1899,2
241138,40316733,169,C49087342,61,59737067,2020-05-31 21:58:58,2020-05-31 22:08:58,0,3901,2

In [14]:
order_all = pd.DataFrame()
for file in tbl_order_files:
    order_data = pd.read_csv(file)
    print(f"{file}:{order_data.shape[0]}")
    order_all = pd.concat([order_all, order_data], ignore_index=True)

/home/tera/dsLab/machine_learning_system_100_knocks/section1/tbl_order_202005.csv:241139
/home/tera/dsLab/machine_learning_system_100_knocks/section1/tbl_order_202004.csv:233260
/home/tera/dsLab/machine_learning_system_100_knocks/section1/tbl_order_202006.csv:233301

In [15]:
display(order_all)

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,24742472,22,C90731046,22,80308413,2020-05-01 11:00:00,2020-05-01 11:22:00,1,2328,1
1,11342919,56,C68678177,12,35725624,2020-05-01 11:00:00,2020-05-01 11:50:00,0,2987,2
2,76451864,56,C79630016,46,2609869,2020-05-01 11:00:00,2020-05-01 11:32:00,0,2603,2
3,28392539,192,C83895707,80,17111162,2020-05-01 11:00:00,2020-05-01 11:19:00,0,2603,2
4,71706591,121,C36584528,93,22800835,2020-05-01 11:00:00,2020-05-01 11:17:00,0,2877,2
...,...,...,...,...,...,...,...,...,...,...
707695,90872494,191,C35992970,46,51884378,2020-06-30 21:58:58,2020-06-30 22:43:58,1,2112,1
707696,30167637,35,C53126526,88,6295273,2020-06-30 21:58:58,2020-06-30 22:36:58,0,4462,2
707697,85345862,118,C25099070,32,15733308,2020-06-30 21:58:58,2020-06-30 22:42:58,0,3865,2
707698,73038887,100,C27421314,84,67608099,2020-06-30 21:58:58,2020-06-30 22:21:58,0,3319,2
707699,14799648,39,C90614204,5,13300147,2020-06-30 21:58:58,2020-06-30 22:38:58,0,2064,2

### Knock5: Data の統計量を確認する

In [16]:
# 欠損値の確認
order_all.isnull().sum()

order_id             0
store_id             0
customer_id          0
coupon_cd            0
sales_detail_id      0
order_accept_date    0
delivered_date       0
takeout_flag         0
total_amount         0
status               0
dtype: int64

In [17]:
# 注文 Data の統計量
order_all.describe()

,order_id,store_id,coupon_cd,sales_detail_id,takeout_flag,total_amount,status
count,7.077000e+05,707700.000000,707700.000000,7.077000e+05,707700.000000,707700.000000,707700.000000
mean,5.000989e+07,103.934565,49.514363,5.000335e+07,0.259864,2960.651814,3.082908
std,2.889226e+07,86.374451,28.882605,2.885575e+07,0.438560,954.378771,2.836278
min,2.200000e+01,1.000000,0.000000,4.600000e+01,0.000000,698.000000,1.000000
25%,2.501247e+07,51.000000,25.000000,2.504502e+07,0.000000,2308.000000,2.000000
50%,4.999655e+07,99.000000,49.000000,5.004506e+07,0.000000,2808.000000,2.000000
75%,7.508014e+07,148.000000,75.000000,7.499707e+07,1.000000,3617.000000,2.000000
max,9.999980e+07,999.000000,99.000000,9.999965e+07,1.000000,5100.000000,9.000000

In [18]:
# 見たい項目の統計量
order_all['total_amount'].describe()

count    707700.000000
mean       2960.651814
std         954.378771
min         698.000000
25%        2308.000000
50%        2808.000000
75%        3617.000000
max        5100.000000
Name: total_amount, dtype: float64

In [19]:
# Data の期間
print(order_all['order_accept_date'].min())
print(order_all['order_accept_date'].max())
print(order_all['delivered_date'].min())
print(order_all['delivered_date'].max())

2020-04-01 11:00:00
2020-06-30 21:58:58
2020-04-01 11:10:00
2020-06-30 22:55:56

### Knock6: 不要な Data を除外する

In [20]:
order_data = order_all.loc[order_all['store_id'] != 999]

display(order_data)

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status
0,24742472,22,C90731046,22,80308413,2020-05-01 11:00:00,2020-05-01 11:22:00,1,2328,1
1,11342919,56,C68678177,12,35725624,2020-05-01 11:00:00,2020-05-01 11:50:00,0,2987,2
2,76451864,56,C79630016,46,2609869,2020-05-01 11:00:00,2020-05-01 11:32:00,0,2603,2
3,28392539,192,C83895707,80,17111162,2020-05-01 11:00:00,2020-05-01 11:19:00,0,2603,2
4,71706591,121,C36584528,93,22800835,2020-05-01 11:00:00,2020-05-01 11:17:00,0,2877,2
...,...,...,...,...,...,...,...,...,...,...
707695,90872494,191,C35992970,46,51884378,2020-06-30 21:58:58,2020-06-30 22:43:58,1,2112,1
707696,30167637,35,C53126526,88,6295273,2020-06-30 21:58:58,2020-06-30 22:36:58,0,4462,2
707697,85345862,118,C25099070,32,15733308,2020-06-30 21:58:58,2020-06-30 22:42:58,0,3865,2
707698,73038887,100,C27421314,84,67608099,2020-06-30 21:58:58,2020-06-30 22:21:58,0,3319,2
707699,14799648,39,C90614204,5,13300147,2020-06-30 21:58:58,2020-06-30 22:38:58,0,2064,2

In [21]:
order_data.describe()

,order_id,store_id,coupon_cd,sales_detail_id,takeout_flag,total_amount,status
count,7.038800e+05,703880.000000,703880.000000,7.038800e+05,703880.000000,703880.000000,703880.000000
mean,5.001673e+07,99.076990,49.516098,5.000004e+07,0.259872,2959.949248,3.082704
std,2.889339e+07,55.942693,28.882841,2.885464e+07,0.438565,954.367273,2.836106
min,2.200000e+01,1.000000,0.000000,4.600000e+01,0.000000,698.000000,1.000000
25%,2.501570e+07,51.000000,25.000000,2.504034e+07,0.000000,2308.000000,2.000000
50%,5.000930e+07,99.000000,49.000000,5.004219e+07,0.000000,2808.000000,2.000000
75%,7.508612e+07,147.000000,75.000000,7.499172e+07,1.000000,3617.000000,2.000000
max,9.999980e+07,196.000000,99.000000,9.999965e+07,1.000000,5100.000000,9.000000

### Knock7: Master data を結合(Join)してみよう

In [22]:
order_data = pd.merge(order_data, m_store, on='store_id', how='left')
display(order_data)

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd
0,24742472,22,C90731046,22,80308413,2020-05-01 11:00:00,2020-05-01 11:22:00,1,2328,1,国立店,TK
1,11342919,56,C68678177,12,35725624,2020-05-01 11:00:00,2020-05-01 11:50:00,0,2987,2,神田店,TK
2,76451864,56,C79630016,46,2609869,2020-05-01 11:00:00,2020-05-01 11:32:00,0,2603,2,神田店,TK
3,28392539,192,C83895707,80,17111162,2020-05-01 11:00:00,2020-05-01 11:19:00,0,2603,2,太田店,GU
4,71706591,121,C36584528,93,22800835,2020-05-01 11:00:00,2020-05-01 11:17:00,0,2877,2,港南店,KN
...,...,...,...,...,...,...,...,...,...,...,...,...
703875,90872494,191,C35992970,46,51884378,2020-06-30 21:58:58,2020-06-30 22:43:58,1,2112,1,伊勢崎店,GU
703876,30167637,35,C53126526,88,6295273,2020-06-30 21:58:58,2020-06-30 22:36:58,0,4462,2,代々木店,TK
703877,85345862,118,C25099070,32,15733308,2020-06-30 21:58:58,2020-06-30 22:42:58,0,3865,2,磯子店,KN
703878,73038887,100,C27421314,84,67608099,2020-06-30 21:58:58,2020-06-30 22:21:58,0,3319,2,中原店,KN
703879,14799648,39,C90614204,5,13300147,2020-06-30 21:58:58,2020-06-30 22:38:58,0,2064,2,杉並店,TK

In [23]:
order_data = pd.merge(order_data, m_area, on='area_cd', how='left')
display(order_data)

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd,wide_area,narrow_area
0,24742472,22,C90731046,22,80308413,2020-05-01 11:00:00,2020-05-01 11:22:00,1,2328,1,国立店,TK,東京,東京
1,11342919,56,C68678177,12,35725624,2020-05-01 11:00:00,2020-05-01 11:50:00,0,2987,2,神田店,TK,東京,東京
2,76451864,56,C79630016,46,2609869,2020-05-01 11:00:00,2020-05-01 11:32:00,0,2603,2,神田店,TK,東京,東京
3,28392539,192,C83895707,80,17111162,2020-05-01 11:00:00,2020-05-01 11:19:00,0,2603,2,太田店,GU,北関東,群馬
4,71706591,121,C36584528,93,22800835,2020-05-01 11:00:00,2020-05-01 11:17:00,0,2877,2,港南店,KN,神奈川,神奈川
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703875,90872494,191,C35992970,46,51884378,2020-06-30 21:58:58,2020-06-30 22:43:58,1,2112,1,伊勢崎店,GU,北関東,群馬
703876,30167637,35,C53126526,88,6295273,2020-06-30 21:58:58,2020-06-30 22:36:58,0,4462,2,代々木店,TK,東京,東京
703877,85345862,118,C25099070,32,15733308,2020-06-30 21:58:58,2020-06-30 22:42:58,0,3865,2,磯子店,KN,神奈川,神奈川
703878,73038887,100,C27421314,84,67608099,2020-06-30 21:58:58,2020-06-30 22:21:58,0,3319,2,中原店,KN,神奈川,神奈川
703879,14799648,39,C90614204,5,13300147,2020-06-30 21:58:58,2020-06-30 22:38:58,0,2064,2,杉並店,TK,東京,東京

### Knock8: Master が存在しない Code に名称を設定する

In [24]:
order_data.loc[order_data['takeout_flag'] == 0, 'takeout_name'] = "デリバリー"
order_data.loc[order_data['takeout_flag'] == 1, 'takeout_name'] = "お持ち帰り"
display(order_data)

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd,wide_area,narrow_area,takeout_name
0,24742472,22,C90731046,22,80308413,2020-05-01 11:00:00,2020-05-01 11:22:00,1,2328,1,国立店,TK,東京,東京,お持ち帰り
1,11342919,56,C68678177,12,35725624,2020-05-01 11:00:00,2020-05-01 11:50:00,0,2987,2,神田店,TK,東京,東京,デリバリー
2,76451864,56,C79630016,46,2609869,2020-05-01 11:00:00,2020-05-01 11:32:00,0,2603,2,神田店,TK,東京,東京,デリバリー
3,28392539,192,C83895707,80,17111162,2020-05-01 11:00:00,2020-05-01 11:19:00,0,2603,2,太田店,GU,北関東,群馬,デリバリー
4,71706591,121,C36584528,93,22800835,2020-05-01 11:00:00,2020-05-01 11:17:00,0,2877,2,港南店,KN,神奈川,神奈川,デリバリー
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703875,90872494,191,C35992970,46,51884378,2020-06-30 21:58:58,2020-06-30 22:43:58,1,2112,1,伊勢崎店,GU,北関東,群馬,お持ち帰り
703876,30167637,35,C53126526,88,6295273,2020-06-30 21:58:58,2020-06-30 22:36:58,0,4462,2,代々木店,TK,東京,東京,デリバリー
703877,85345862,118,C25099070,32,15733308,2020-06-30 21:58:58,2020-06-30 22:42:58,0,3865,2,磯子店,KN,神奈川,神奈川,デリバリー
703878,73038887,100,C27421314,84,67608099,2020-06-30 21:58:58,2020-06-30 22:21:58,0,3319,2,中原店,KN,神奈川,神奈川,デリバリー
703879,14799648,39,C90614204,5,13300147,2020-06-30 21:58:58,2020-06-30 22:38:58,0,2064,2,杉並店,TK,東京,東京,デリバリー

In [25]:
order_data.loc[order_data['status'] == 0, 'status_name'] = "受付"
order_data.loc[order_data['status'] == 1, 'status_name'] = "お支払済"
order_data.loc[order_data['status'] == 2, 'status_name'] = "お渡し済"
order_data.loc[order_data['status'] == 9, 'status_name'] = "キャンセル"
display(order_data)

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd,wide_area,narrow_area,takeout_name,status_name
0,24742472,22,C90731046,22,80308413,2020-05-01 11:00:00,2020-05-01 11:22:00,1,2328,1,国立店,TK,東京,東京,お持ち帰り,お支払済
1,11342919,56,C68678177,12,35725624,2020-05-01 11:00:00,2020-05-01 11:50:00,0,2987,2,神田店,TK,東京,東京,デリバリー,お渡し済
2,76451864,56,C79630016,46,2609869,2020-05-01 11:00:00,2020-05-01 11:32:00,0,2603,2,神田店,TK,東京,東京,デリバリー,お渡し済
3,28392539,192,C83895707,80,17111162,2020-05-01 11:00:00,2020-05-01 11:19:00,0,2603,2,太田店,GU,北関東,群馬,デリバリー,お渡し済
4,71706591,121,C36584528,93,22800835,2020-05-01 11:00:00,2020-05-01 11:17:00,0,2877,2,港南店,KN,神奈川,神奈川,デリバリー,お渡し済
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703875,90872494,191,C35992970,46,51884378,2020-06-30 21:58:58,2020-06-30 22:43:58,1,2112,1,伊勢崎店,GU,北関東,群馬,お持ち帰り,お支払済
703876,30167637,35,C53126526,88,6295273,2020-06-30 21:58:58,2020-06-30 22:36:58,0,4462,2,代々木店,TK,東京,東京,デリバリー,お渡し済
703877,85345862,118,C25099070,32,15733308,2020-06-30 21:58:58,2020-06-30 22:42:58,0,3865,2,磯子店,KN,神奈川,神奈川,デリバリー,お渡し済
703878,73038887,100,C27421314,84,67608099,2020-06-30 21:58:58,2020-06-30 22:21:58,0,3319,2,中原店,KN,神奈川,神奈川,デリバリー,お渡し済
703879,14799648,39,C90614204,5,13300147,2020-06-30 21:58:58,2020-06-30 22:38:58,0,2064,2,杉並店,TK,東京,東京,デリバリー,お渡し済