### Knock11: Data を読み込んで不要なものを除外しよう

In [1]:
# 注文 Data を読み込み中身を確認
import pandas as pd

order_data = pd.read_csv('order_data.csv')
print(order_data.shape[0])
order_data.head()

703880

,order_id,store_id,customer_id,coupon_cd,sales_detail_id,order_accept_date,delivered_date,takeout_flag,total_amount,status,store_name,area_cd,wide_area,narrow_area,takeout_name,status_name
0,79339111,49,C26387220,50,67393872,2020-04-01 11:00:00,2020-04-01 11:18:00,1,4144,1,浅草店,TK,東京,東京,お持ち帰り,お支払済
1,18941733,85,C48773811,26,91834983,2020-04-01 11:00:00,2020-04-01 11:22:00,0,2877,2,目黒店,TK,東京,東京,デリバリー,お渡し済
2,56217880,76,C66287421,36,64409634,2020-04-01 11:00:00,2020-04-01 11:15:00,0,2603,2,本郷店,TK,東京,東京,デリバリー,お渡し済
3,28447783,190,C41156423,19,73032165,2020-04-01 11:00:00,2020-04-01 11:16:00,0,2732,2,栃木店,TO,北関東,栃木,デリバリー,お渡し済
4,32576156,191,C54568117,71,23281182,2020-04-01 11:00:00,2020-04-01 11:53:00,0,2987,2,伊勢崎店,GU,北関東,群馬,デリバリー,お渡し済

In [2]:
# 今回の分析で必要ない Data を除外
order_data = order_data.loc[
    (order_data['status'] == 1)
    | (order_data['status'] == 2)
    ]
print(order_data.shape[0])
order_data.columns

574436

Index(['order_id', 'store_id', 'customer_id', 'coupon_cd', 'sales_detail_id',
       'order_accept_date', 'delivered_date', 'takeout_flag', 'total_amount',
       'status', 'store_name', 'area_cd', 'wide_area', 'narrow_area',
       'takeout_name', 'status_name'],
      dtype='object')

金額が Main の分析対象になるため、受付(status=0), キャンセル(status=9)は、除外

In [3]:
# 不要な項目を除外
analyze_data = order_data[
    ['store_id', 'customer_id', 'coupon_cd', 'order_accept_date', 'delivered_date', 'total_amount', 'store_name',
     'wide_area', 'narrow_area', 'takeout_name', 'status_name']]
print(analyze_data.shape)
analyze_data.head()

(574436, 11)

,store_id,customer_id,coupon_cd,order_accept_date,delivered_date,total_amount,store_name,wide_area,narrow_area,takeout_name,status_name
0,49,C26387220,50,2020-04-01 11:00:00,2020-04-01 11:18:00,4144,浅草店,東京,東京,お持ち帰り,お支払済
1,85,C48773811,26,2020-04-01 11:00:00,2020-04-01 11:22:00,2877,目黒店,東京,東京,デリバリー,お渡し済
2,76,C66287421,36,2020-04-01 11:00:00,2020-04-01 11:15:00,2603,本郷店,東京,東京,デリバリー,お渡し済
3,190,C41156423,19,2020-04-01 11:00:00,2020-04-01 11:16:00,2732,栃木店,北関東,栃木,デリバリー,お渡し済
4,191,C54568117,71,2020-04-01 11:00:00,2020-04-01 11:53:00,2987,伊勢崎店,北関東,群馬,デリバリー,お渡し済

Record 数や項目数が非常に多い Data を扱う場合、処理対象の Data をなるべく少なくしておいた方が
- 処理速度
- Memory 使用量

の面で良い。

### Knock12: Data の全体像を把握しよう

In [4]:
# 分析用 Data の統計量を確認
analyze_data.describe()

            store_id      coupon_cd   total_amount
count  574436.000000  574436.000000  574436.000000
mean       99.113844      49.478758    2960.087555
std        55.913615      28.888993     954.282731
min         1.000000       0.000000     698.000000
25%        51.000000      24.000000    2308.000000
50%        99.000000      49.000000    2808.000000
75%       147.000000      75.000000    3617.000000
max       196.000000      99.000000    5100.000000

In [5]:
# Data 型を確認
analyze_data.dtypes

store_id              int64
customer_id          object
coupon_cd             int64
order_accept_date    object
delivered_date       object
total_amount          int64
store_name           object
wide_area            object
narrow_area          object
takeout_name         object
status_name          object
dtype: object

In [6]:
# 一部の数値型の項目を文字列型に変更
analyze_data[['store_id', 'coupon_cd']] = analyze_data[['store_id', 'coupon_cd']].astype(str)
analyze_data.dtypes

C:\Users\leone\dsLab\machine_learning_system_100_knocks\.venv\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

store_id             object
customer_id          object
coupon_cd            object
order_accept_date    object
delivered_date       object
total_amount          int64
store_name           object
wide_area            object
narrow_area          object
takeout_name         object
status_name          object
dtype: object

In [7]:
# Warning を表示しない
import warnings

warnings.filterwarnings('ignore')

In [8]:
analyze_data.describe()

        total_amount
count  574436.000000
mean     2960.087555
std       954.282731
min       698.000000
25%      2308.000000
50%      2808.000000
75%      3617.000000
max      5100.000000

ここで確認できる値
- 全体としての統計
- Pizza chain の Group 全体としての売上がどうなのか

### Knock13: 月別の売上を集計してみよう
Data を月別に集計していく

In [9]:
# 日時の項目を Datetime型に変換し年月項目を作成
analyze_data['order_accept_date'] = pd.to_datetime(analyze_data['order_accept_date'])
analyze_data['order_accept_month'] = analyze_data['order_accept_date'].dt.strftime('%Y%m')
analyze_data[['order_accept_date', 'order_accept_month']].head()

    order_accept_date order_accept_month
0 2020-04-01 11:00:00             202004
1 2020-04-01 11:00:00             202004
2 2020-04-01 11:00:00             202004
3 2020-04-01 11:00:00             202004
4 2020-04-01 11:00:00             202004

In [10]:
# delivered_date も同様に型変換
analyze_data['delivered_date'] = pd.to_datetime(analyze_data['delivered_date'])
analyze_data['delivered_month'] = analyze_data['delivered_date'].dt.strftime('%Y%m')
analyze_data[['delivered_date', 'delivered_month']].head()

       delivered_date delivered_month
0 2020-04-01 11:18:00          202004
1 2020-04-01 11:22:00          202004
2 2020-04-01 11:15:00          202004
3 2020-04-01 11:16:00          202004
4 2020-04-01 11:53:00          202004

- 複数の日時項目が存在する場合、各項目の差分を計算して所要日数や所要時間を取得する Case もある。
- 型の変換が中途半端だと、いざ使用とした時に混乱することがある為、すぐ使用しなくても型は揃えておくのが良い。

In [11]:
# Data 型の確認
analyze_data.dtypes

store_id                      object
customer_id                   object
coupon_cd                     object
order_accept_date     datetime64[ns]
delivered_date        datetime64[ns]
total_amount                   int64
store_name                    object
wide_area                     object
narrow_area                   object
takeout_name                  object
status_name                   object
order_accept_month            object
delivered_month               object
dtype: object

In [12]:
# 統計 Data を月月で確認
month_data = analyze_data.groupby('order_accept_month')
month_data.describe()

                   total_amount                                          \
                          count         mean         std    min     25%
order_accept_month
202004                 189414.0  2959.440638  954.271169  698.0  2308.0
202005                 195684.0  2960.327799  954.823248  698.0  2308.0
202006                 189338.0  2960.486437  953.740057  698.0  2308.0


                       50%     75%     max
order_accept_month
202004              2808.0  3586.0  5100.0
202005              2808.0  3586.0  5100.0
202006              2808.0  3617.0  5100.0

In [13]:
# 合計金額の確認
month_data.sum()

                    total_amount
order_accept_month
202004                 560559489
202005                 579288785
202006                 560532581

#### 集計
- 月別
- 地域別
- 店舗別

集計する視点を変えることで、Simple に分析を始めていくことができる。